@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --Orange-400: hsl(12, 88%, 59%);
  --Blue-950: hsl(228, 39%, 23%);
  --Gray-950: hsl(233, 12%, 13%);
  --Orange-50: hsl(13, 100%, 96%);
  --Gray-50: hsl(0, 0%, 98%);
  --bgrc: hsl(0, 0%, 95%);
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--Gray-50);
}
button {
  border-radius: 2rem;
  padding: 1.5rem;
  background-color: var(--Orange-400);
  color: var(--Gray-50);
  border: none;
}
.padding {
  padding: 2rem 10rem;
}
.container {
  background-image: url(assets/bg-simplify-section-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Gray-50);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav ul li {
  list-style: none;
  color: var(--Blue-950);
}
nav li:hover{
opacity: 50%;
cursor: pointer;
}
nav button:hover {
  cursor: pointer;
  opacity: 50%;
}
/* section 1 */
#main-section-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-section-1 h1 {
  text-align: start;
  font-size: 4rem;
  width: 35rem;
  color: var(--Blue-950);
  padding-bottom: 2rem;
}
#main-section-1 p {
  text-align: start;
  font-size: 22px;
  width: 30rem;
  padding-bottom: 2rem;
  color: var(--Gray-950);
}
#main-section-1-div-1 button:hover {
  cursor: pointer;
  opacity: 50%;
}

/* section 2 */
#main-section-2 {
  display: flex;
  justify-content: space-between;
}
#main-section-2 p {
  font-size: 1.5rem;
}

#main-section-2 h1 {
  color: var(--Blue-950);
  font-size: 3rem;
  padding-bottom: 1rem;
  width: 35rem;
}
#main-section-2-div-1 p {
  font-size: 1rem;
  color: var(--Gray-950);
}
#main-section-2-div-1 p {
  color: var(--Gray-950);
  width: 22rem;
  line-height: 1.75;
}
#main-section-2 li {
  font-size: 2rem;
}
#main-section-2-div-1 {
}

#main-section-2-div-2 {
  display: flex;
  flex-direction: column;
}
#main-section-2-div-2 span {
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  background-color: var(--Orange-400);
  border-radius: 1.75rem;
  color: white;
}
#main-section-2-div-2 li {
  list-style: none;
  font-size: 1rem;
  padding-bottom: 1rem;
  color: var(--Blue-950);
}
#main-section-2-div-2 p {
  font-size: 17px;
  padding-bottom: 1rem;
  margin-left: 5rem;
  width: 30rem;
  line-height: 1.5;
}

#main-section-2-div-2 #div-1,
#div-2,
#div-3 {
  display: flex;
  align-items: center;
}
/* section 3 */
#main-section-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-section-3 h1 {
  color: var(--Blue-950);
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-align: center;
}
#main-section-3-div {
  display: flex;
  padding-bottom: 2rem;
  gap: 8rem;
}
#main-section-3-div-1,
#main-section-3-div-2,
#main-section-3-div-3 {
  background-color: var(--bgrc);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-section-3-div-1 h5,
#main-section-3-div-2 h5,
#main-section-3-div-3 h5 {
  padding: 1rem 0;
  font-size: 20px;
  color: var(--Blue-950);
}
#main-section-3-div-1 p,
#main-section-3-div-2 p,
#main-section-3-div-3 p {
  text-align: center;
  padding: 0 3rem 1rem 3rem;
  font-size: 18px;
}
#main-section-3 button {
  align-items: center;
}
#main-section-3 button:hover {
  cursor: pointer;
  opacity: 50%;
}
/* section 4 */
#main-section-4 {
  background-color: var(--Orange-400);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-section-4 h1 {
  font-size: 2rem;
  width: 25rem;
  color: white;
}
#main-section-4 button {
  border-radius: 2rem;
  padding: 1rem;
  background-color: var(--Gray-50);
  color: var(--Orange-400);
  border: none;
  height: 3rem;
  justify-content: center;
  align-items: center;
}
#main-section-4 button:hover {
  cursor: pointer;
  opacity: 50%;
}
/* footer */
footer {
  background-color: var(--Gray-950);
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  flex-direction: reverse;
}
#footer-div-1 {
}
#menu-img {
  display: none;
}
input {
}
.footer-mobile {
  display: none;
}
.footer-desktop {
  display: block;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-desktop #footer-div-1 {
}
.footer-desktop #footer-ul-div {
  display: flex;
  gap: 16rem;
  color: white;
}
.footer-desktop #form-div button {
  padding: 1.25rem;
  border-radius: 2rem;
  width: 5rem;
}
.footer-desktop button:hover{
  cursor: pointer;
opacity: 50%;
}

.footer-desktop footer input {
  padding: 1.25rem;
  border-radius: 2rem;
}
.footer-desktop #footer-img-div img:hover{
color: var(--Orange-400);
}
.footer-desktop li{
  list-style: none;
}
.footer-desktop li:hover{
  color: var(--Orange-400);
}
.footer-desktop #footer-div-1 img{
padding-bottom: 3rem;
}

  #form-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    footer input {
    padding: 1.25rem;
    border-radius: 2rem;
  }
@media (max-width: 428px) {
  body {
    overflow: hidden;
  }
  .padding {
    padding: 2rem 2rem;
  }
  #menu-img {
    display: block;
  }
  nav ul li {
    display: none;
  }
  nav button {
    display: none;
  }
  /* section 1 */
  #main-section-1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  #main-section-1 img {
    width: 100%;
    margin: 0 auto;
  }
  #main-section-1 h1 {
    font-size: 2.5rem;
    padding: 2rem 3rem;
    padding-bottom: 0;
    text-align: center;
  }
  #main-section-1 p {
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    padding: 1rem 3rem;
    width: 80%;
  }
  #main-section-1 button {
    display: flex;
    margin: 0 auto;
    padding: 1rem 3rem;
  }
  /* Section 2 */
  #main-section-2 {
    display: flex;
    flex-direction: column;
  }
  #main-section-2 h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    color: var(--Blue-950);
  }
  #main-section-2-div-1 p {
    color: var(--Gray-950);
    text-align: center;
    padding-bottom: 2rem;
  }
  #main-section-2 p {
    text-align: start;
    padding-bottom: 0.5rem;
  }
  #main-section-2 li {
    padding-left: 3rem;
    text-align: start;
    background-color: var(--Orange-50);
    width: 25rem;
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
  }

  #main-section-2-div-2 {
  }
  #main-section-2-div-2 li {
    list-style: none;
    font-size: 1rem;
  }
  #main-section-2-div-2 #div-1 {
    display: flex;
  }
  #main-section-2-div-2 p {
    font-size: 16px;
  }
  /* section 3 */
  #main-section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #main-section-3-div-1 {
    display: none;
  }
  #main-section-3-div-3 {
    display: none;
  }
  #main-section-3 h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
    color: var(--Blue-950);
  }
  #main-section-3-div-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  #main-section-3-div-2 img {
  }
  #main-section-3-div-2 h5 {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 0;
    color: var(--Blue-950);
  }
  #main-section-3-div-2 p {
    width: 80%;
    color: var(--Gray-950);
    padding-bottom: 1rem;
    font-size: 12px;
  }
  /* Section 4 */
  #main-section-4 {
    background-image: url(assets/bg-simplify-section-mobile.svg);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  #main-section-4 h1 {
    text-align: center;
    padding: 2rem;
    color: white;
    font-size: 2.5rem;
  }
  #main-section-4 button {
    background-color: white;
    margin-bottom: 2rem;
  }
  /* footer */
  footer {
    display: flex;
    flex-direction: column-reverse;
  }
  #footer-ul-div {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
  }
  #footer-ul-div ul li {
    list-style: none;
    color: var(--Gray-50);
    padding-bottom: 1rem;
  }
  #form-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #form-div button {
    padding: 1.25rem;
    border-radius: 2rem;
    width: 5rem;
  }

  footer input {
    padding: 1.25rem;
    border-radius: 2rem;
  }
  #footer-img-div {
    padding: 0;
    margin: 0;
  }
  #footer-img-div img {
    width: 2rem;
    height: 2rem;
    margin: 0.9rem;
  }
  footer p {
    color: var(--Gray-50);
    text-align: center;
  }
  #footer-logo-div {
    margin: 0 auto;
    padding-bottom: 1rem;
  }
  #footer-div-1 {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column-reverse;
  }
  #footer-logo-div {
    padding: 2rem;
    display: flex;
  }
  .footer-mobile {
    display: block;
    display: flex;
    flex-direction: column-reverse;
  }
  .footer-mobile form {
    padding-bottom: 3rem;
  }
  .footer-mobile ul {
    padding-bottom: 2rem;
  }
  .footer-mobile img {
    margin-bottom: 1rem;
  }
  .footer-desktop {
    display: none;
  }
}
